body {
  margin: 0px;
  padding: 0px;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 15px;
}
nav p {
  font-size: 1.5rem;
  padding: 20px 20px 0px 60px;
  margin-block: auto;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

main article {
  width: auto;
  color: #7C6A0A;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main article .impact-section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 25px;
}
main article h1 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}
main article p {
  font-size: 1.5em;
}
main article button {
  width: 15vw;
  padding: 20px;
  background-color: #FA9500;
  border-style: none;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
main article button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
main article img {
  width: 25vw;
  border-radius: 19px;
}
main section {
  width: auto;
  height: auto;
  padding: 60px;
}
main section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
main section .healthcare, main section .furniture {
  padding-bottom: 60px;
}
main section .healthcare h2, main section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
main section .healthcare .card-section, main section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
main section .healthcare .product-card, main section .furniture .product-card {
  width: 14vw;
  height: 45 vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
main section .healthcare .product-card .icon, main section .furniture .product-card .icon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
main section .healthcare .product-card .icon svg, main section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
}
main section .healthcare .product-card .product-image, main section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main section .healthcare .product-card img, main section .furniture .product-card img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
main section .about-us {
  padding-bottom: 60px;
}
main section .about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
main section .about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main section .about-us .mission-section .earth, main section .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #E86424;
}
main section .about-us .mission-section .earth img, main section .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
main section .about-us .mission-section .earth p, main section .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
main section .gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
main section .gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main section .gallery .gallery-images img {
  width: 25vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
main section .gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
main section .furniture .product-card {
  background-color: #BABD8D;
  color: wheat;
}
main .location {
  color: #E86424;
}
main .location h2 {
  padding-bottom: 60px;
  padding-top: 60px;
}
main .location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
main .location h3, main .location p {
  font-size: 1.5em;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */